@page
@model IndexModel
@using Data

@{
    ViewData["Title"] = "Productos";
}

<div class="text-center">
    <h1 class="display-4">Productos</h1>
</div>
<div>
    <p>
        <a asp-page="./Crear">Crear Producto</a>
    </p>
    <form>
        <p>
            <select asp-for="BodegaId" asp-items="Model.Bodegas">
                <option value="">Seleccione una bodega</option>
            </select>
            <input type="submit" value="Filtrar" />
        </p>
    </form>
    @if (Model.BodegaId == 0)
    {
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Estado Stock</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TempProducto temp in Model.TempProductos)
                {
                    <tr>
                        <th scope="row">@temp.Producto.Id</th>
                        <td>@temp.Producto.Nombre</td>
                        <td>@temp.Stock</td>
                        @if (temp.Stock < temp.Producto.Umbral)
                        {
                            <td>INSUFICIENTE</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProductoBodega productoBodega in Model.ProductosBodegas)
                {
                    <tr>
                        <th scope="row">@productoBodega.Producto.Id</th>
                        <td>@productoBodega.Producto.Nombre</td>
                        <td>@productoBodega.Cantidad</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>